{% load forms %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kairos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <script src="https://unpkg.com/htmx.org@2.0.2"></script>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div class="notification is-{{ message.level_tag|bulma_message_tag }}">
                <button class='delete'></button>
                {{ message|safe }}
            </div>
            {% endfor %}
    {% endif %}
    {% include 'navbar.html' %}
    <section class="section">
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
    </section>
    {% include 'footer.html' %}
</body>
</html>
