{% extends "base.html" %}
{% load qr_code %}

{% block content %}
    {% if request.user.is_authenticated %}
    <table class="table">
        <tr>
            <td>Name</td>
            <td>{{ event.name }}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{ event.description }}</td>
        </tr>
        <tr>
            <td>Event date</td>
            <td>{{ event.event_date }}</td>
        </tr>
        <tr>
            <td>Periodicity</td>
            <td>{{ event.periodicity }}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{ event.status }}</td>
        </tr>
        <tr>
            <td>Capacity</td>
            <td>{{ event.capacity }}</td>
        </tr>
    </table>
    {% else %}
    <table class="table">
        <tr>
            <td>Name</td>
            <td>{{ event.name }}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{ event.description }}</td>
        </tr>
        <tr>
            <td>Event date</td>
            <td>{{ event.event_date }}</td>
        </tr>
    </table>
    {% endif %}
    {% if request.user == event.creator %}
    <a href="{% url 'events:event_update' event.pk %}" class="button is-dark">
        Update Event
    </a>
    <a href="{% url 'events:event_delete' event.pk %}" class="button is-dark">
        Delete
    </a>
    {% else %}
        Ticket: {{ ticket }}
        {% if not ticket.active %}
        <form method='POST'>
            {% csrf_token %}
            <input type='hidden' id='id' name="id" value='{{event.id}}' \>
            <input type='hidden' id='event_date' name="event_date"
                                                 value="{{event.event_date}}" \>
            <input type='hidden' id='crc' name="crc" value='{{crc}}' \>
            <button type='submit' class='button is-dark'>Attend</button>
        </form>
        {% else %}
            {% qr_from_text ticket size="T" image_format="png" error_correction="M" %}
            You already have a ticket
        {% endif%}
    {% endif %}
{% endblock %}
